<a href="https://colab.research.google.com/github/vy-phung/bioinformatics/blob/master/metadata_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import pandas library
import pandas as pd

# Read the online file by the URL provides above, and assign it to variable "df"
other_path = "https://raw.githubusercontent.com/jameshadfield/phandangoExampleData/master/PMEN1_recombination/meta.simple.csv"
df = pd.read_csv(other_path, header=None)

In [2]:
# import pandas library
import pandas as pd
import numpy as np

In [3]:
df.head(10)

           0        1     2         3   4
0       lane  Country  Year  Serotype  ST
1   4330_3_1  Germany  1998       23F  81
2  4330_3_11  Germany  2001       23F  81
3   4330_3_8  Germany  1992       23F  81
4   4330_3_7  Germany  1992       23F  81
5   4330_3_6  Germany  1992       23F  81
6   4330_3_5  Germany  1992       23F  81
7   4330_3_4  Germany  1992       23F  81
8   4330_3_3  Germany  1992       23F  81
9   4330_3_2  Germany  1993       23F  81